{% extends 'base.html' %}
{% block content %}
<div class="row">
   {% for game in games %}
   <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ game.name }}</h5>
                <p class="card-text">{{ game.description }}</p>
                <p><strong>Precio desde</strong>: ${{ game.price_starting }}</p>
                <p><strong>Plataformas</strong>: {{ game.platforms }}</p>
            </div>
        </div>
   </div>  
   {% endfor %}
</div>
{% endblock %}
